<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VSOURCE</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-20">
<img class="h-20 py-3" src="/static/logo.png" />
<div class="p-40">
<!--    <img class="mt-6 shadow-xl" src="/images/logo.jpeg" />-->
    <h1 id="greeting" class="mt-6 text-2xl font-bold sm:text-xl">
        Hi, there. Please choose a service.
    </h1>
    <div class="mt-6 mx-auto">
        <a class="w-60 inline-block rounded-lg px-4 py-2 shadow-lg bg-indigo-500 text-white hover:bg-indigo-400
        transform transition" href="/face_dashboard">人脸服务</a>
    </div>
    <div class="mt-6 mx-auto">
        <a class="w-60 inline-block rounded-lg px-4 py-2 shadow-lg bg-indigo-500 text-white hover:bg-indigo-400
        transform transition" href="/speaker_dashboard">说话人服务</a>
    </div>
<!--    </div>-->
<!--        <div class="mt-6 mx-auto">-->
<!--        <a class="inline-block rounded-lg px-4 py-2 shadow-lg bg-indigo-500 text-white hover:bg-indigo-400-->
<!--        transform transition" href="/generation_dashboard">Generation Service</a>-->
<!--        <a class="inline-block rounded-lg px-4 py-2 shadow-lg bg-gray-300 text-gray-800 hover:bg-gray-200-->
<!--        transform transition" href='#'>Demo</a>-->
<!--    </div>-->
</div>

<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script>
window.onload = function(){
    $.ajax(
        "/now_user", {
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            var greeting_text = "你好 " data.username + ", 请选择下面的服务";
            $("#greeting").text(greeting_text);
        }
    });
}
</script>
</body>
</html>