# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\人脸识别技术全栈\face_service-main\dockerfile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
